<% provide(:title, '店舗一覧ページ') %>

<h1 id="my-page">店舗一覧</h1>
<%# TODO: idをclassに修正する %>

<%= render 'shared/flash_messages' %>

<table class="table table-striped stores-table">
  <thead>
    <tr>
      <th>店舗名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |s| %>
    <tr>
      <td><%= s.store_name %></td>
      <td><%= link_to "店舗詳細", store_path(s), class: "btn btn-success" %></td>
      <td>
      <% if current_user.id == s.user_id %>
        <%= link_to "削除", store_path(s), method: "delete",
            data: {confirm: "店舗を削除しますか?"}, class: "btn btn-info" %>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
  <%= link_to "新規登録", new_store_path, class: "btn btn-primary new-store-button" %>
<% end %>
