<% provide(:title, '店舗一覧ページ') %>

<h1 id="my-page">List of stores</h1>

<table class="table table-striped stores-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>店舗名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |s| %>
    <tr>
      <td><%= s.id %></td>
      <td><%= s.store_name %></td>
      <td><%= link_to "店舗詳細", store_path(s), class: "btn btn-success" %></td>
      <td><%= link_to "削除", store_path(s), method: "delete",
              data:{confirm: "店舗を削除しますか?"}, class:"btn btn-info" %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "新規登録", new_store_path, class: "btn btn-primary new-store-button" %>
