<% provide(:title, '店舗登録') %>

<h1 id="my-page">店舗登録</h1>

<%= render 'shared/flash_messages' %>

<%= form_for @store do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
  <div id="store-form">
    <%= f.label :"店舗名" %>
    <%= f.text_field :store_name, placeholder: "店舗名を入力してください", class: "form-control" %>
  </div>

  <div id="store-form">
    <%= f.label :"住所" %>
    <%= f.text_field :address, placeholder: "住所を入力してください", class: "form-control" %>
  </div>

  <div id="store-button">
    <%= f.submit "登録", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
