<% provide(:title, '店舗詳細ページ') %>

<h1 id="my-page"><%= @store.store_name %></h1>

<%= render 'shared/flash_messages' %>

<h3 class="studios-index">スタジオ一覧</h3>
<table class="table table-striped stores-table">
  <thead>
    <tr>
      <th>スタジオ名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @studios.each do |s| %>
    <tr>
      <td><%= s.studio_name %></td>
      <td><%= link_to "予約状況", studio_path(s), class: "btn btn-success" %></td>
      <td><%= link_to "スタジオ削除",  studio_path(s), method: "delete",
              data:{confirm: "スタジオを削除しますか?"}, class:"btn btn-info" %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= link_to "新規スタジオ登録", new_studio_path(store_id:@store.id), class: "btn btn-primary new-store-button" %>
