<% provide(:title, 'my page') %>

  <% flash.each do |key, value| %>
    <div class="alert <%= bootstrap_class_for(key) %>"><%= value %></div>
  <% end %>

  <h1 id="my-page">my page</h1>

  <div id="user-name">
    <h2 id="account">user name</h2>
    <div><%= @user.name%></div>
  </div>

  <div id="information">
    <h3>information</h3>
    <%= render 'layouts/information' %>
  </div>

  <div id="reservation-status">
    <h2 id="reservation-title">reservation status</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Store</th>
          <th>Studio</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
      </thead>

      <tbody>
        <% @reservation.each do |r| %>
          <tr>
            <td><%= r.place_name %></td>
            <td><%= r.studio %></td>
            <td><%= r.date %></td>
            <td><%= r.frame_time %></td>
            <td><%= link_to "変更", "edit_reservation_path(r)", class:"btn btn-success" %></td>
            <td><%= link_to "削除", "/reservations/#{r.id}", method: "delete",
                    data: {confirm: "予約を取り消しますか?"}, class:"btn btn-info" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <p>
    <%= link_to("店舗一覧へ", reservations_path, id:"newreserve-button" ) %>
  </p>
