<%= form_for @reservation do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :store_id, value: @store.id %>
<div id="background">
  <div id="reservation-form">

    <div id="studio-form">
      <%= f.label :"スタジオ" %><br>
      <%= f.collection_select :studio_id, @studios, :id, :studio_name,
      {:selected => @studio.id}, {class: "form-control"} %><br>
    </div>

    <div id="start-time" class="input-group">
      <%= f.label :"ご利用日" %><br>
      <%= f.text_field :frame, data: { :date_format => 'YYYY-MM-DD' }, :class => 'form-control datetimepicker', placeholder: 'YYYY-MM-DD' %>
    </div>

    <div id="end-time" >
      <%= f.label :"時間" %><br>
      <%= f.select :frame, @frame, {prompt: "時間を選択"}, {class: "form-control"} %><br>
    </div>

    <div id="Rbutton">
      <%= f.submit "reserve", id:"reserve-button"%>
    </div>
  </div>
</div>
<% end %>
