  <%= form_for @reservation do |f| %>
  <%= f.hidden_field :user_id, value:current_user.id %>
  <div id="background">
    <div id="reservation-form">
      <div id="store-form">
        <%= f.label :"店舗名" %><br>
        <%= f.select :place, [["渋谷店", "渋谷店"], ["新宿店", "新宿店"], ["代々木店", "代々木店"],
                                         ["高田馬場店", "高田馬場店"], ["池袋店", "池袋店"], ["大塚店", "大塚店"]] ,
                                         {prompt: "店舗を選択"}, {class: "form-control"} %><br>
      </div>

      <div id="studio-form">
        <%= f.label :"スタジオ" %><br>
        <%= f.select :studio, [["Astudio", "Astudio"], ["Bstudio", "Bstudio"], ["Cstudio", "Cstudio"],
                                          ["Dstudio", "Dstudio"], ["Estudio", "Estudio"], ["Fstudio", "Fstudio"]] ,
                                          {prompt: "スタジオを選択"}, {class: "form-control"} %><br>
      </div>

      <div id="start-time" >
        <%= f.label :"予約日" %><br>
        <%= f.date_select :date,class: 'form-control' %>
      </div>

　　　<div id="end-time" >
      <%= f.label :"時間" %><br>
      <%= f.select :frame, [["10:00~11:00", "10:00~11:00"], ["11:00~12:00", "11:00~12:00"]] ,
                                       {prompt: "時間を選択"}, {class: "form-control"} %><br>
     </div>


      <div id="Rbutton">
        <%= f.submit "reserve", id:"reserve-button"%>
      </div>
    </div>
  </div>
<% end %>
