<div class="tab_content" id="shibuya_content">
<div class="tab_content_description">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Astudio</th>
    </tr>
  </thead>
  <tbody>
    <% @shibuyaA.each do |r| %>
      <tr>
        <td><%= r.date %></td>
        <td><%= r.frame_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Bstudio</th>
    </tr>
  </thead>
  <tbody>
    <% @shibuyaB.each do |r| %>
      <tr>
        <td><%= r.date %></td>
        <td><%= r.frame_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cstudio</th>
    </tr>
  </thead>
  <tbody>
    <% @shibuyaC.each do |r| %>
      <tr>
        <td><%= r.date %></td>
        <td><%= r.frame_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Dstudio</th>
    </tr>
  </thead>
  <tbody>
    <% @shibuyaD.each do |r| %>
      <tr>
        <td><%= r.date %></td>
        <td><%= r.frame_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
