<div id="yoyogiA_today">
<%=Date.today%>
<table class="table table-striped">
	<thead>
		<tr>
			<th>時間</th>
			<th>A studio</th>
      <th>B studio</th>
      <th>C studio</th>
      <th>D studio</th>
      <th>E studio</th>
      <th>F studio</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th><%=@frame[0][0]%></th>
      <% if @yoyogiA_0.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiB_0.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiC_0.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiD_0.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiE_0.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiF_0.empty?%><td>○</td><%else%><td>×</td><%end%>
		</tr>
		<tr>
			<th><%=@frame[1][0]%></th>
      <% if @yoyogiA_1.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiB_1.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiC_1.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiD_1.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiE_1.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiF_1.empty?%><td>○</td><%else%><td>×</td><%end%>
		</tr>
    <tr>
			<th><%=@frame[2][0]%></th>
      <% if @yoyogiA_2.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiB_2.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiC_2.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiD_2.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiE_2.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiF_2.empty?%><td>○</td><%else%><td>×</td><%end%>
		</tr>
    <tr>
      <th><%=@frame[3][0]%></th>
      <% if @yoyogiA_3.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiB_3.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiC_3.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiD_3.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiE_3.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiF_3.empty?%><td>○</td><%else%><td>×</td><%end%>
    </tr>
    <tr>
      <th><%=@frame[4][0]%></th>
      <% if @yoyogiA_4.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiB_4.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiC_4.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiD_4.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiE_4.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiF_4.empty?%><td>○</td><%else%><td>×</td><%end%>
    </tr>
    <tr>
      <th><%=@frame[5][0]%></th>
      <% if @yoyogiA_5.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiB_5.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiC_5.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiD_5.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiE_5.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiF_5.empty?%><td>○</td><%else%><td>×</td><%end%>
    </tr>
    <tr>
      <th><%=@frame[6][0]%></th>
      <% if @yoyogiA_6.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiB_6.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiC_6.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiD_6.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiE_6.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiF_6.empty?%><td>○</td><%else%><td>×</td><%end%>
    </tr>
    <tr>
      <th><%=@frame[7][0]%></th>
      <% if @yoyogiA_7.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiB_7.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiC_7.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiD_7.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiE_7.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiF_7.empty?%><td>○</td><%else%><td>×</td><%end%>
    </tr>
    <tr>
      <th><%=@frame[8][0]%></th>
      <% if @yoyogiA_8.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiB_8.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiC_8.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiD_8.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiE_8.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiF_8.empty?%><td>○</td><%else%><td>×</td><%end%>
    </tr>
    <tr>
      <th><%=@frame[9][0]%></th>
      <% if @yoyogiA_9.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiB_9.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiC_9.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiD_9.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiE_9.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiF_9.empty?%><td>○</td><%else%><td>×</td><%end%>
    </tr>
    <tr>
      <th><%=@frame[10][0]%></th>
      <% if @yoyogiA_10.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiB_10.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiC_10.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiD_10.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiE_10.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiF_10.empty?%><td>○</td><%else%><td>×</td><%end%>
    </tr>
    <tr>
      <th><%=@frame[11][0]%></th>
      <% if @yoyogiA_11.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiB_11.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiC_11.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiD_11.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiE_11.empty?%><td>○</td><%else%><td>×</td><%end%>
      <% if @yoyogiF_11.empty?%><td>○</td><%else%><td>×</td><%end%>
    </tr>
	</tbody>
</table>
</div>
