<% provide(:title, '予約ページ') %>
<h1 id="my-page">New Reservation</h1>

<h3>予約空き状況</h3>
<div class="tabs">
  <input id="shibuya" type="radio" name="tab_item" checked>
  <label class="tab_item" for="shibuya">渋谷店</label>

  <input id="yoyogi" type="radio" name="tab_item">
  <label class="tab_item" for="yoyogi">代々木店</label>

  <input id="shinjuku" type="radio" name="tab_item">
  <label class="tab_item" for="shinjuku">新宿店</label>

  <input id="takadanobaba" type="radio" name="tab_item">
  <label class="tab_item" for="takadanobaba">高田馬場店</label>

  <input id="ikebukuro" type="radio" name="tab_item">
  <label class="tab_item" for="ikebukuro">池袋店</label>

  <input id="otsuka" type="radio" name="tab_item">
  <label class="tab_item" for="otsuka">大塚店</label>

  <%= render "shibuya" %>

  <%= render "yoyogi" %>

  <%= render "shinjuku" %>

  <%= render "takadanobaba" %>

  <%= render "ikebukuro" %>

  <%= render "otsuka" %>

</div>


  <%= render "form" , object: @frame %>
