<% provide(:title, '予約ページ') %>
<p>予約フォーム</p>

<%= form_for @reservation do |f| %>
<%= f.hidden_field :user_id, value:current_user.id %>

<%= f.label :"店舗名" %><br>
  <%= f.select :place, [["渋谷店", "渋谷店"], ["新宿店", "新宿店"], ["代々木店", "代々木店"], ["高田馬場店", "高田馬場店"],
  ["池袋店", "池袋店"], ["大塚店", "大塚店"]] ,class:"form-control" %><br>

  <%= f.label :"スタジオ" %><br>
    <%= f.select :studio, [["Astudio", "Astudio"], ["Bstudio", "Bstudio"], ["Cstudio", "Cstudio"], ["Dstudio", "Dstudio"],
    ["Estudio", "Estudio"], ["Fstudio", "Fstudio"]] ,class:"form-control" %><br>

<%= f.label :"開始時間" %><br>
<%= f.datetime_select :start_date , :start_year => Time.now.year, :end_year => Time.now.year + 1,
         :minute_step => 30,class:"form-control"%><br>

<%= f.label :"終了時間" %><br>
<%= f.datetime_select :end_date , :start_year => Time.now.year, :end_year => Time.now.year + 1,
        :minute_step => 30,class:"form-control"%><br>

<%= f.submit "予約する", class:"btn btn-sm btn-primary"%>

<% end %>
